
.content-2{
    .cont-cont{padding:20px;background:#fff;}
}
    

.preview-modal {
    .ant-modal-body {
        padding: 0;
        background: #fff;
        .ant-row{
            padding-left:13%;
        }
    }
}

.filter-bar {
    margin-bottom: 20px;
    .form-item, button{
        margin-right:10px;
    }
    .ant-input-group{
        width:inherit
    }
}

.preview-list {
    li:nth-child(odd) {
        background: #f9f9f9;
    }
    li {
        overflow: hidden;
        padding: 10px 15px;
        .item {
            float: left;
            width: 50%;
            padding-left: 120px;
            .ui-label {
                padding: 0 0 0 20px;
                position: relative;
                float: left;
                width: 120px;
                margin-left: -120px;
                text-align: right;
                &:after {
                    content: ":";
                    margin: 0 8px 0 2px;
                    position: relative;
                    top: -.5px;
                }
            }

        }
    }
}

.create-form {
    .field {
        overflow: hidden;
        .ant-form-item {
            float: left;
            width: 50%;
        }
    }
    .field-max {
        overflow: hidden;
    }
    .ant-form-item {
        padding-left: 90px;
    }
    .ant-form-item-label {
        float: left;
        width: 90px;
        margin-left: -90px;
    }
    .ant-modal-body{
        padding:0;
    }
}


.preview-list li .item .ui-text{
    width: 200px;
    white-space:pre-wrap;
}
.row-label{
    width:120px;
    display: block;
    float: left;
    text-align: right;
    margin-right:5x;
}

.delegate-modal{
    .ant-input-group{
        display: inline-block;
        width: 200px;
        height: 28px;
        margin-top:10px;
    }
    .ant-btn-primary{
        vertical-align: top;
    }
    .select-gay{
        .ant-row{
            min-height:25px;
            line-height: 25px;
            padding-left: 5px;
        }
        .ant-row:nth-child(odd) {
            background: #f9f9f9;
        }
    }
    .ant-btn-circle.ant-btn-sm{
        width:18px;
        height: 18px;
        line-height:17px;
        margin-top: 3px;
    }
}

.condition-modal{
    width:450px;
    margin: 0 auto;
    clear: both;
    .clear{
        clear: both;
    }
    .condition{
        .con-detail{
            width:300px;
            float: left;
            .con-row{
                height:50px;
                .row-label{
                    .row-label;
                }
                .ant-input-group{
                    width:150px;
                    float:left;
                }
            }
            clear: both;
        }
        .con-search{
            width:80px;
            float:right;
            margin-top: 20px;
            margin-right: 130px;
        }
        border-bottom: 1px solid #ccc;
    }
    .con-options{
        .row-label{
            .row-label;
            margin-top:10px;
        }
        .ant-checkbox-group-item{
            float: left;
            display: block;
            width:105px;
        }
        .option-list{
            
            margin-left:125px;
            min-height: 30px;
            max-height: 200px;
            overflow-y:auto;
        }
    }
}

.addRelate-modal{
    .ant-select-search{
        padding:0px;
    }
    .ant-input-group{
        display: inline-block;
        width: 200px;
        height: 28px;
        margin-top:10px;
    }
    .ant-btn-primary{
        vertical-align: top;
    }
    .select-gay{
        .ant-row{
            min-height:25px;
            line-height: 25px;
            padding-left: 5px;
        }
        .ant-row:nth-child(odd) {
            background: #f9f9f9;
        }
    }
    .ant-btn-circle.ant-btn-sm{
        width:18px;
        height: 18px;
        line-height:17px;
        margin-top: 3px;
    }
}
